{% extends 'blamo/base.html' %}

{% block blamo %}

<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th>Host</th>
            <th>Path</th>
            <th>Code</th>
            <th>Type</th>
            <th>Error</th>
            <th>User</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.host }}</td>
            <td>{{ log.path }}</td>
            <td>{{ log.status_code }}</td>
            <td>{{ log.error_type }}</td>
            <td>
                {{ log.error_message }}
                <a href="/blamo/logs/{{ log.id }}" target="_blank">
                    Details...
                </a>
            </td>
            <td>{{ log.username }}</td>
            <td>{{ log.datetime|date:"m/d/Y" }}</td>
            <td>{{ log.datetime|time:"h:i A" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
